* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* h1 {
    background-color: aqua;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
} */

header {
    width: 200px;
    height: 200px;
    /* background-color: aqua; */
}

.box {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.spbox {
    background-color: black;
}


#newbox {
    background-color: brown;
}

.radius {
    /* height: 200px;
    width: 200px;
    background-color: bisque;
    margin: auto;
    border-radius: 0% 70% 0% 70%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 10px;
    border-style: double;
    border-color: green;
    border-top-style: double;
    border-top-color: yellow; 
    border-right-style: double;
    border-right-color: red;
    border-bottom-style: double;
    border-bottom-color: rgb(0, 255, 123);
    border-left-style: double;
    border-left-color: rgb(255, 0, 179);
    box-shadow: 0 0 70px 1px rgba(0, 0, 0, 0.557);
    border-top: 7px double blue;
    border-right: 7px dashed green;
    border-bottom: 7px groove yellow;
    border-left: 7px solid red; */

    height: 200px;
    width: 200px;
    background-color: aqua;

    /* margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px; */

    /* margin: 20px 70px 40px 400px; */

    margin: auto;
    /* padding-top:100px ;
    padding-left: 100px; */

    /* padding: 20px 40px; */

    text-align: center;
    justify-items: center;
    align-content: center;
}

.radius p {
    font-size: x-large;
    font-weight: 600;

}

.radius2 {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.sector {
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: cornsilk;

    border-top: 10px double yellow;
    border-bottom: 10px dotted pink;
    border-left: 10px solid crimson;
    border-right: 10px ridge grey;

    border-radius: 100px;




}

#setup {
    height: 200px;
    width: 200px;
    background-color: black;
    border: 0cap;
    border-radius: 0%;
    margin-left: 30px;
    padding-left: 50px;
    color: white;

}

.img {
    width: 400px;
    height: auto;
    margin-top: 140px;
    margin-left: 150px;
    box-shadow: 0 0 30px 10px;
}

.bg-img {
    /* background-image: url(../img/Dark\ Y2K\ Wallpaper\ of\ a\ futuristic\ charging….jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
    background-position-y: 40%;
    width: 100%;
    height: 600px;
    background-color: black;

    justify-items: center;
    align-content: center; */


    width: 50%;
    height: 70vh;
    margin: 30px auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    justify-content: space-between;
    align-items: center;

}

/* .bg-img h1{
    color: aliceblue;
    text-shadow: 0 0 20px aqua;
} */

.x {
    width: 200px;
    height: 200px;
    background-color: grey;

}

.x2 {
    background-color: green;
}

#x2 {
    background-color: red;
}